<!-- Begin Portfolio -->
<section id="section4" class="portfolio clearfix">

	<!-- Title -->
	<div class="content container">
		<div class="title grid-full">
			<h2>Projects</h2>
			<span class="border"></span>
		</div>
		<!-- Filters -->
		<!--<ul class="filtering grid-full">
			<li class="filter" data-filter="all">all</li>
		    <li class="filter" data-filter="category_1">branding</li>
		    <li class="filter" data-filter="category_2">web</li>
		    <li class="filter" data-filter="category_3">package</li>
		    <li class="filter" data-filter="category_4">video</li>
		</ul>-->
	</div>

	<!-- Ajax Section -->
	<div class="ajax-section container">
		<div class="loader"></div>
		<div class="project-navigation">
			<ul>
				<li class="nextProject"><a href="#"></a></li>
				<li class="prevProject"><a href="#"></a></li>
			</ul>
		</div>
		<div class="closeProject">
			<a href="#"><i class="icon-remove"></i></a>               
		</div>
        <div class="ajax-content clearfix"></div>
	</div>
	<!-- End Ajax Section -->
	
	<div id="project"></div>

	<!-- Thumbnails -->
	<ul id="portfolio-grid" class="projectlist clearfix">
		<li class="project mix category_1 mix_all">
			<%= link_to home_index_path(:feed => "project1"), :remote => true do %>
				<%= image_tag('pb.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>Paul Buchanan</h4>
						<h6><em>mid air</em></h6>
					</div>
				</div>
			<% end %>
		</li>
		<li class="project mix category_1 mix_all">
			<a target="_blank" href="https://itunes.apple.com/gb/album/all-the-little-lights/id548490453">
				<%= image_tag('passenger.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>Passenger</h4>
						<h6><em>all the little lights</em></h6>
					</div>
				</div>
			</a>
		</li>
		<li class="project mix category_3 mix_all">
			<a target="_blank" href="https://itunes.apple.com/gb/album/born-villain/id517509336">
				<%= image_tag('mm.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>Marilyn Manson</h4>
						<h6><em>born villain</em></h6>
					</div>
				</div>
			</a>
		</li>
		<li class="project mix category_2 mix_all">
			<a target="_blank" href="https://itunes.apple.com/gb/album/embrace/id813641215">
				<%= image_tag('embrace.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>Embrace</h4>
						<h6><em>embrace</em></h6>
					</div>
				</div>
			</a>
		</li>
		<li class="project mix category_1 mix_all">
			<a target="_blank" href="https://itunes.apple.com/gb/album/oui-oui-si-si-ja-ja-da-da/id563245346">
				<%= image_tag('madness.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>Madness</h4>
						<h6><em>oui oui si si ja ja da da</em></h6>
					</div>
				</div>
			</a>
		</li>
		<li class="project mix category_3 mix_all">
			<a target="_blank" href="https://itunes.apple.com/gb/album/love-your-dum-and-mad/id649398509">
				<%= image_tag('ns.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>Nadine Shah</h4>
						<h6><em>love your dum and mad</em></h6>
					</div>
				</div>
			</a>
		</li>
		<li class="project mix category_2 mix_all">
			<a target="_blank" href="https://itunes.apple.com/us/album/choice-weapon-deluxe-edition/id512510988">
				<%= image_tag('thecult.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>The Cult</h4>
						<h6><em>choice of weapon</em></h6>
					</div>
				</div>
			</a>
		</li>
		<li class="project mix category_4 mix_all">
			<a target="_blank" href="https://itunes.apple.com/gb/album/wanderlust/id724525162">
				<%= image_tag('seb.jpg') %>
				<div class="projectinfo">
					<div class="meta">
						<h4>Sophie Ellis Bextor</h4>
						<h6><em>wanderlust</em></h6>
					</div>
				</div>
			</a>
		</li>
	</ul>

</section>
<!-- End Portfolio -->
