<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
	<head>
		<%= csrf_meta_tags %>
	    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<title>MHV1</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Aether Themes">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

		<!-- Stylesheets -->
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

		<!--[if lt IE 9]>
			<style type="text/css" media="all"> @import url("css/ie.css"); </style>
		<![endif]-->

	</head>
	<body>
		
		<div class="loadingGif">
			<h1 class="loading">Loading</h1>
			<div class="gif"><%= image_tag('loadingAlt.gif') %></div>
		</div>
		
		<div class="body">
			<%= render 'layouts/header' %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>

	</body>
</html>
